



##1.   Name of Student:
##2.   Roll No:

# Assignment No 6

---
#Perform EDA on a real-world dataset (e.g.,Titanic or Iris) with visual + statistical summaries.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("/content/titanic.csv")

In [6]:
print("Shape of dataset:", df.shape)

Shape of dataset: (891, 12)

In [ ]:
df.head()

PassengerId → Unique identifier for each passenger.

Survived → Survival status (0 = Did not survive, 1 = Survived).

Pclass → Passenger class (1 = First, 2 = Second, 3 = Third).

Name → Passenger’s full name (with title).

Sex → Gender of passenger (male/female).

Age → Age of passenger in years.

SibSp → Number of siblings or spouses aboard.

Parch → Number of parents or children aboard.

Ticket → Ticket number.

Fare → Price paid for the ticket.

Cabin → Cabin number (if available).

Embarked → Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton).
Embarked → This column tells us the port where the passenger boarded the Titanic:

C = Cherbourg (France)

Q = Queenstown (Ireland, now Cobh)

S = Southampton (England)

In [ ]:
print("\nData Types:\n", df.dtypes)

In [ ]:
print("\nMissing Values:\n", df.isnull().sum())

In [ ]:
print("\nStatistical Summary (Numeric):\n", df.describe())

In [ ]:
df.duplicated().sum()

In [ ]:
df.isnull().sum()

In [ ]:
# Missing values heatmap
plt.figure(figsize=(10,5))
sns.heatmap(df.isnull(), cbar=False, cmap="viridis")
plt.title("Missing Values Heatmap")
plt.show()

#==============================
# 4. Univariate Analysis
# ==============================

In [ ]:


# Survival Count
plt.figure(figsize=(6,4))
sns.countplot(x="Survived", data=df)
plt.title("Survival Count (0=No, 1=Yes)")
plt.show()

In [ ]:
# Age Distribution
plt.figure(figsize=(8,5))
sns.histplot(df["Age"].dropna(), bins=30, kde=True)
plt.title("Age Distribution")
plt.show()

In [ ]:
# Sex Distribution
plt.figure(figsize=(6,4))
sns.countplot(x="Sex", data=df)
plt.title("Sex Distribution")
plt.show()

In [ ]:
plt.figure(figsize=(6,4))
sns.countplot(x="Pclass", data=df, palette="Set2")
plt.title("Passenger Class Distribution")
plt.show()

In [ ]:
# Fare Distribution
plt.figure(figsize=(8,5))
sns.histplot(df["Fare"], bins=40, kde=True, color="purple")
plt.title("Fare Distribution")
plt.show()

# ==============================
# 5. Bivariate Analysis
# ==============================

In [ ]:
# Survival by Sex
plt.figure(figsize=(6,4))
sns.countplot(x="Sex", hue="Survived", data=df, palette="Set1")
plt.title("Survival by Sex")
plt.show()

In [ ]:
# Survival by Pclass
plt.figure(figsize=(6,4))
sns.countplot(x="Pclass", hue="Survived", data=df, palette="Set3")
plt.title("Survival by Passenger Class")
plt.show()

In [ ]:
# Age vs Survived
plt.figure(figsize=(8,5))
sns.boxplot(x="Survived", y="Age", data=df, palette="coolwarm")
plt.title("Age vs Survival")
plt.show()